<script lang="ts">
    /**
     * https://github.com/storybookjs/storybook/blob/main/examples/svelte-kitchen-sink/src/stories/views/ButtonView.svelte
     */
    import Button from './Button.svelte'
    
    let {labelSlot, ...props} = $$props
</script>

<Button { ...props }>
    { labelSlot }
</Button>